<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.0" targetFramework="net471" />
  <package id="log4net" version="2.0.12" targetFramework="net48" />
  <package id="NSubstitute" version="3.1.0" targetFramework="net471" />
  <package id="NUnit" version="3.10.1" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net471" />
  <package id="SystemWrapper.Interfaces" version="0.25.0.186" targetFramework="net471" />
  <package id="SystemWrapper.Wrappers" version="0.25.0.186" targetFramework="net471" />
</packages>